{extend name="student/base"}
{block name="body"}
<div>
    <div style="width: 100%;height: 480px">
        <div id="a1" class="carousel slide">
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="__STATIC__/img/4.jpg" alt="First slide">
                </div>
                <div class="item">
                    <img src="__STATIC__/img/3.jpg" alt="Second slide">
                </div>
                <div class="item">
                    <img src="__STATIC__/img/2.jpg" alt="Third slide" width="100%">
                </div>
            </div>
        </div>

    </div>

    <div style="border: 1px dashed red;width: 100%;height: 260px">
        <img src="__STATIC__/img/5.png" style="width: 100%;height: 100%;">
    </div>
</div>
{/block}