{extend name="teacher/base"}
{block name="body"}
<h2>
    编辑判断题
</h2>
<form action="{:url('Teacher/teacherCompileTrueOrFalse')}">
    <input type="button" name="Submit" value="<--返回" onclick="javascript:history.back(1)" class="btn" style="background-color: rgba(0,0,0,0);"/>
    <br>
    题目：<input type="text" name="topic" class="form-control" placeholder="输入题目" value="{$true_or_false_info.topic}">
    解题思路：
    <textarea name="soleve_thinking" class="form-control" rows="4" placeholder="输入解题思路">{$true_or_false_info.soleve_thinking}</textarea>
    答案：
    <select name="answer" class="form-control">
        <option>{$true_or_false_info.answer}</option>
        <option>正确</option>
        <option>错误</option>

    </select>
    题目难度：
    <select name="difficulty" class="form-control">
        <option>{$true_or_false_info.difficulty}</option>
        <option>简单</option>
        <option>普通</option>
        <option>困难</option>
    </select>
    所属课堂：
    <select name="class_num" class="form-control">
        <option value="{$true_or_false_info.class_num}">{$true_or_false_info.class_name}</option>
        {volist name="class_info" id="class"}
        <option value="{$class.class_num}">{$class.class_name}</option>
        {/volist}
    </select>
    <button name="true_or_false_id" type="submit" value="{$true_or_false_info.true_or_false_id}" class="btn btn-danger">提交</button>
</form>
{/block}