{extend name="teacher/base"}
{block name="body"}
<h3>{$paper.paper_name}</h3>
<form action="{:url('Teacher/teacherCheckStudentPaper')}">
    <table class="table table-bordered" style="width:80%;box-shadow: 2px 2px 5px #999999;background-color: white;">
        <tr>
            <th width="150px">
                学号
            </th>
            <th width="150px">
                学生姓名
            </th>
            <th width="150px">
                总分
            </th>
            <th width="150px">
                分数
            </th>
            <th width="150px">
                考试时间
            </th>
            <th></th>
        </tr>
        {volist name="student_paper" id="sp"}
        <tr>
            <td>
                {$sp.student_num}
            </td>
            <td>
                {$sp.student_name}
            </td>
            <td>
                {$sp.sum_score}
            </td>
            <td>
                {$sp.score}
            </td>
            <td>
                {$sp.time|date="Y-m-d H:i:s",###}
            </td>
            <td>
                <button class="btn btn-default" value="{$sp.student_answer_paper_id}" name="student_answer_paper_id">
                    查看
                </button>
            </td>
        </tr>
        {/volist}
    </table>
</form>
{/block}