{extend name="teacher/base"}
{block name="body"}
<h2>查询题库:{$class_name}</h2>
<div style="width: 100%;overflow: hidden;">
    <h3>单选题</h3>
    {eq name="null" value="single_choice"}
    当前课堂没有单选题
    {else/}
    {volist name="single_choice" id="tq"}
    <div style="border: gray 1px solid;width: 33%;height:250px;float: left;padding: 5px;background-color: white;">
        <h4 title="{$tq.topic}" class="topic">题目：{$tq.topic}</h4>
        A:{$tq.A}<br>
        B:{$tq.B}<br>
        C:{$tq.C}<br>
        D:{$tq.D}<br>
        解题思路：{$tq.soleve_thinking}<br>
        答案：{$tq.answer}<br>
        题目难度：{$tq.difficulty}<br>
        所属课堂：{$tq.class_name}<br>
        <a href="{:url('Teacher/teacherDeleteSingleChoice')}?id={$tq.single_choice_id}">删除试题</a>
        <a href="{:url('Teacher/teacherCompileSingleChoiceIndex')}?id={$tq.single_choice_id}">编辑试题</a>
    </div>
    {/volist}
    {/eq}
</div>
<div style="width: 100%">
    <h3>判断题</h3>
    {eq name="null" value="true_or_false"}
    当前课堂没有单选题
    {else/}
    {volist name="true_or_false" id="tof"}
    <div style="border: gray 1px solid;width: 33%;height:200px;float: left;padding: 5px;background-color: white;">
        <h4 class="topic">题目：{$tof.topic}</h4>
        解题思路：{$tof.soleve_thinking}<br>
        答案：{$tof.answer}<br>
        题目难度：{$tof.difficulty}<br>
        所属课堂：{$tof.class_name}<br>
        <a href="{:url('Teacher/teacherDeleteTrueOrFalse')}?id={$tof.true_or_false_id}">删除试题</a>
        <a href="{:url('Teacher/teacherCompileTrueOrFalseIndex')}?id={$tof.true_or_false_id}">编辑试题</a>
    </div>
    {/volist}
    {/eq}
</div>
{/block}