{extend name="teacher/base"}
{block name="body"}
<h2>"{$class_name}" 课堂的题库</h2>
<div style="overflow: hidden;">
    <form action="teacherAddPaper" method="post">
        <h3>试卷名称：</h3>
        <input type="text" name="paper_name" class="form-control" placeholder="输入试卷名称" style="width: 80%;"/>
        <h3>单选题</h3>
        <table class="table table-bordered" style="width:80%;box-shadow: 2px 2px 5px #999999;background-color: white;">
            <tr>
                <th width="30px">
                    <input type="checkbox" name="allcheck" id="allcheck" onclick="checkall()">
                </th>
                <th>
                    题目
                </th>
                <th width="50px">
                    难度
                </th>
            </tr>
            {volist name="single_choice" id="tq" k="key"}
            <tr>
                <td>
                    <input type="checkbox" value="{$tq.single_choice_id}" class="checkbox single_choice" name="single_choice[{$key}]">
                </td>
                <td>
                    {$tq.topic}
                </td>
                <td>
                    {$tq.difficulty}
                </td>
            </tr>
            {/volist}
        </table>
        <h3>判断题</h3>
        <table class="table table-bordered" style="width:80%;box-shadow: 2px 2px 5px #999999;background-color: white;">
            <tr>
                <th width="30px">

                </th>
                <th>
                    题目
                </th>
                <th width="50px">
                    难度
                </th>
            </tr>
            {volist name="true_or_false" id="tof"}
            <tr>
                <td>
                    <input type="checkbox" value="{$tof.true_or_false_id}" class="checkbox" name="true_or_false[{$key}]">
                </td>
                <td>
                    {$tof.topic}
                </td>
                <td>
                    {$tof.difficulty}
                </td>
            </tr>
            {/volist}
        </table>
        <button type="submit" class="btn btn-default" name="class_num" value="{$class_num}">提交</button>
    </form>
</div>
{/block}