{extend name="teacher/base"}
{block name="body"}
<h2>修改单选题</h2>
<form action="{:url('Teacher/teacherCompileSingleChoice')}">
    <input type="button" name="Submit" value="<--返回" onclick="javascript:history.back(1)" class="btn" style="background-color: rgba(0,0,0,0);"/>
    <br>
    题目：<input type="text" name="topic" class="form-control" placeholder="输入题目" value="{$single_choice_info.topic}">
    A: <input type="text" name="A" class="form-control" placeholder="输入A选项" value="{$single_choice_info.A}">
    B: <input type="text" name="B" class="form-control" placeholder="输入B选项" value="{$single_choice_info.B}">
    C: <input type="text" name="C" class="form-control" placeholder="输入C选项" value="{$single_choice_info.C}">
    D: <input type="text" name="D" class="form-control" placeholder="输入D选项" value="{$single_choice_info.D}">
    解题思路：
    <textarea name="soleve_thinking" class="form-control" rows="4" placeholder="输入解题思路">{$single_choice_info.soleve_thinking}</textarea>
    答案：
    <select name="answer" class="form-control">
        <option>{$single_choice_info.answer}</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
    </select>
    题目难度：
    <select name="difficulty" class="form-control">
        <option>{$single_choice_info.difficulty}</option>
        <option>简单</option>
        <option>普通</option>
        <option>困难</option>
    </select>
    所属课堂：
    <select name="class_num" class="form-control">
        <option value="{$single_choice_info.class_num}">{$single_choice_info.class_name}</option>
        {volist name="class_info" id="class"}
        <option value="{$class.class_num}">{$class.class_name}</option>
        {/volist}
    </select>
    <button name="id" type="submit" value="{$single_choice_info.single_choice_id}" class="btn btn-default">提交</button>
</form>
{/block}