input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}
a:link, a:visited {
    text-decoration: none; /*超链接无下划线*/
}

.hoverbg:hover {
    background-color: #282828;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.hoverbg:hover * {
    color: whitesmoke;
    font-size: 15px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.leftDiv {
    height: 20px;
}

.hovertd {
    border-top: gray 1px solid;
}

.hovertd a {
    color: gray;
}

.hovertd * {
    color: #a1a1a1;
}

.hovertd:hover > :first-child > .leftDiv {
    height: 15px;
    padding: 0 10px 0 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
}



.hovertd:hover a {
    font-size: 16px;
    color: whitesmoke;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.hovertd:hover * {
    font-size: 15px;
    color: whitesmoke;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.hovertd a:hover {
    font-size: 16px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
}


.hovertd:hover {
    background-color: #282828;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
}

body {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 0;
}

.bodytop {
    background-color: #fafafa;
    width: 100%;
}

.bodyMiddle {
    height: 780px;
    width: 83%;
    background-color: #fbfbfb;
}
.bodyMiddle img {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
}

.bodyMiddle img:hover {
    transform: scale(1.1);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
}

#head {
    width: 100%;
    height: 35px;
    min-width: 1440px;
    position: fixed;
    top: 0px;
    z-index: 10;
}

#main {
    width: 100%;
    height: 100%;
    min-width: 1440px;
    padding-top: 35px;
    padding-bottom: 75px;
    z-index: 1;
}

#footer {
    background-color: #282828;
    width: 100%;
    height: 75px;
    bottom: 0px;
    z-index: -1;
}
.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
}
#classify {
    border: whitesmoke 1px solid;
    border-radius: 15px;
    float: left;
    width: 17%;
    height: 645px;
    margin-left: 11%;
    background: rgba(200, 200, 200, 0.15);
}