<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑课程</title>
    <link rel="stylesheet" href="__STATIC__/css/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="__STATIC__/js/jquery-3.3.1.min.js"></script>
    <script src="__STATIC__/css/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="__STATIC__/js/ueditor/ueditor.config.js"></script>
    <script type="text/javascript"
            src="__STATIC__/js/ueditor/ueditor.all.js"></script>
</head>
<body>
<a href="{:url('Admin/index')}"><--返回</a>
<form action="{:url('Admin/adminCompileClass')}" method="post">
    <p>课程号：{$class_info.class_num}</p>
    <input type="text" name="class_name" placeholder="输入课程名称" class="form-control" value="{$class_info.class_name}">
    <br>
    任课教师：
    <select name="teacher_num">
        <option value="{$class_info.teacher_num}">{$class_info.teacher}</option>
        {volist name="teacher" id="teacher"}
        <option value="{$teacher.num}">{$teacher.username}</option>
        {/volist}
    </select>
    <input type="text" name="time" placeholder="输入上课时间" class="form-control" value="{$class_info.time}">
    <br>
    <textarea name="basic_information" class="form-control" rows="5" placeholder="课堂描述"
              value="{$class_info.basic_information}"></textarea>
    <button type="submit" value="{$class_info.class_num}" name="class_num" class="btn-default">提交</button>
</form>
</body>
</html>